In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_excel('D:\Semester 5\Kecerdasan Buatan\shooping_demo.xls')

In [4]:
data.head()

       Day Discount Free Delivery  Buy
0  Weekday      Yes           Yes  Yes
1  Weekday      Yes           Yes  Yes
2  Weekend       No            No   No
3  Holiday      Yes           Yes  Yes
4  Weekday      Yes           Yes  Yes

In [5]:
data.shape

(50, 4)

In [6]:
data['Buy'].value_counts()

Yes    41
No      9
Name: Buy, dtype: int64

In [7]:
PYes = 41/50
PNo = 9/50

In [8]:
print(PYes)

0.82

In [9]:
print(PNo)

0.18

In [10]:
pd.crosstab(data['Day'],data['Buy'])

Buy      No  Yes
Day
Holiday   6   18
Weekday   2    9
Weekend   1   14

In [11]:
PHolidayNo = 6/9
PWeekdayNo = 2/9
PweekendNo = 1/9

PHolidayYes = 18/41
PWeekdayYes = 9/41
PweekendYes = 14/41

PHoliday = 24/50
PWeekday = 11/50
Pweekend = 15/50

print(PWeekdayYes)

0.21951219512195122

In [12]:
# P(A|B) ?
# P (B) = PWeekday
# P (A) = No buy
# P(B|A) = PWeekday/NoBuy


# SULITTTTT

In [13]:
PNoWeekday = (PWeekdayNo*PNo)/PWeekday
print(PNoWeekday)

0.1818181818181818

In [14]:
PYesWeekday = (PWeekdayYes*PYes)/PWeekday
print(PYesWeekday)

0.8181818181818181

In [15]:
#Probabilitas (Buy|Weekday) >>> Dibandingkan dengan Probabilitas (Nobuy|Weekday)

print(PNoWeekday)
print(PYesWeekday)

0.1818181818181818
0.8181818181818181

In [16]:
# Kondisi B dimana? Gatau
# Day = Holiday
# Discount = Yes
# Free Delivery Hub.14045 = Yes
# A = NoBuy
# p(A|B) = p(NoBuy|DiscountYes, Free Delivery Yes, PDayHoliday)

In [17]:
pd.crosstab(data['Discount'], data['Buy'])

Buy       No  Yes
Discount
No         5   12
Yes        4   29

In [18]:
PNoDiscountNo = 5/9
PYesDiscountNo = 4/9

PNoDiscountYes = 12/41
PYesDiscountYes = 29/41

PNoDiscount = 17/50
PYesDiscount = 33/50

In [19]:
pd.crosstab(data['Free Delivery'], data['Buy'])

Buy            No  Yes
Free Delivery
No              4   10
Yes             5   31

In [20]:
PNoFreeDeliveryNo = 4/9
PYesFreeDeliveryNo = 5/9

PNoFreeDeliveryYes = 10/41
PYesFreeDeliverytYes = 31/41

PNoFreeDelivery = 14/50
PYesFreeDelivery = 36/50

In [21]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Delivery = Yes
# P(A) = NoBuy = PNo
# P(B) = PYesDiscount, PYesDelivery, PHoliday

# P(B|A))1 = (PHoliday|NoBuy) = PHolidayNo
# P(B|A))2 = (PYesDiscount|NoBuy) = PYesDiscountNo
# P(B|A))3 = (PYesDelivery|NoBuy) = PYesDeliveryNo

# P(B)1 = PHoliday
# P(B)2 = PYesDiscount
# P(B)3 = PYesDelivery


# P(A|B) ???
# RUMUSSSS AJAIB
# P(A|B) = P(B|A)*P(A)/P(B)




# MASIH BINGUNG BU. SERIUSS...
# SEMOGA BISA NGAJAR FACE TO FACE (EGGAK ONLINE). KULIAH ONLINE MEMBUNUH PARA PEMULA

In [23]:
PNoBuy1 = ((PHolidayNo*PYesDiscountNo*PYesFreeDeliveryNo)*PNo)/(PHoliday*PYesDiscount*PYesFreeDelivery)

print(PNoBuy1)

0.12989982125784594

In [24]:
# Kondisi B dimana
# Day = Holiday
# Discount = Yes
# Free Delivery = Yes
# P(A) = Buy = PYes
# P(B) = PHoliday, PYesDiscount, PYesDelivery

# P(B|A))1 = (PHoliday|Buy) = PHolidayYes
# P(B|A))2 = (PYesDiscount|Buy) = PYesDiscountYes
# P(B|A))3 = (PYesDelivery|Buy) = PYesDeliveryYes

# P(B)1 = PHoliday
# P(B)2 = PYesDiscount
# P(B)3 = PYesDelivery


# P(A|B) ???
# RUMUSSSS AJAIB
# P(A|B) = P(B|A)*P(A)/P(B)




# MASIH BINGUNG BU. SERIUSS...
# SEMOGA BISA NGAJAR FACE TO FACE (EGGAK ONLINE). KULIAH ONLINE MEMBUNUH PARA PEMULA

In [25]:
PBuy2 = ((PHolidayYes*PYesDiscountYes*PYesFreeDeliverytYes)*PYes)/(PHoliday*PYesDiscount*PYesFreeDelivery)

print(PBuy2)

0.8440667832398943

In [26]:
# Probability of No Buy = 0.12989982125784594
# Probability of Buy = 0.8440667832398943

In [27]:
PSum = PNoBuy1+PBuy2

print(PSum)

0.9739666044977402

In [28]:
PBuy = (PBuy2/PSum) *100

print(PBuy)

86.66280541263185

In [29]:
PNoBuy = (PNoBuy1/PSum) *100

print(PNoBuy)

13.337194587368147